<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='secondpage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second page</title>
</head>
<body>
    <div class="feature-page">
        <div class="container">
          <div class="column">
            <div class="card-wrapper">
              <a href="/analysispage">
              <div class="icon-wrapper">
                <div class="icon-image">
                </div>
              </div>
              <div class="card-content-1">
                <div class="analytics-dashboard">
                  Analytics Dashboard
                </div>
                <div class="text-1">
                  Our Analytics Dashboard provides a clear and intuitive interface for you to easily analyze your water pollution data. From customized graph to real-time data updates, our dashboard offers everything you need to gain valuable insights.
                </div>
                <div class="actions-1">
                  <span class="view-dashboard">
                    View dashboard
                  </span>
                </div>
              </div>
            </a>
            </div>
          </div>
          <div class="card-wrapper-1">
            <a href="/form">
            <div class="icon-wrapper-1">
              <div class="icon-image-1">
              </div>
            </div>
            <div class="card-content">
              <div class="click-to-enter-location-data">
                Click to Enter Location Data
              </div>
              <div class="text">
                This section will allow you to enter specific location data to track pollution levels in the area of your choice. By entering your location data, you can help us build a more comprehensive database of water pollution levels around the world.
              </div>
              <div class="actions">
                <span class="view-tokens">
                  View form
                </span>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="purple-glacier-1">
        </div>
      </div>
</body>
</html>